IrcUserAdmin.WCFServiceReference/Service References/ServiceReference/hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ircuseradmin.net " elementFormDefault="qualified" targetNamespace="http://ircuseradmin.net " xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:8080/hello?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="wcfUser" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="AddUserResult" nillable="true" type="q2:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="wcfUser" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q4:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="DeleteUserResult" nillable="true" type="q5:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="ClearDatabaseResult" nillable="true" type="q6:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="wcfHosts" nillable="true" type="q8:ArrayOfHost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="AddHostsResult" nillable="true" type="q9:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="wcfHosts" nillable="true" type="q10:ArrayOfHost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IrcUserAdmin.Slave.Contracts" minOccurs="0" name="RemoveHostsResult" nillable="true" type="q11:SlaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>